# Ignore node_modules directory
node_modules

# Ignore build artifacts
dist
build

# Ignore npm log files
npm-debug.log

# Ignore development files
.DS_Store
.env
.env.local
.env.*.local

# Ignore editor-specific files
.idea
.vscode

# Ignore tests and test-related files
__tests__
test
tests
coverage
